<h1>All Orders in System</h1>
<% @orders.each do |order| %>
  <section id="order-<%=order.id%>">
    <h2>Order #<%= order.id %></h2>
    <p>Customer: <%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %></p>
    <p>Order placed on: <%= order.created_at %></p>
  </section>
<% end %>
